@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(Montserrat-Regular.ttf);
}

body{
    font-family: 'Montserrat', sans-serif;
}

.page-user, .page-gallery-access-denied {
    background-attachment: fixed;
    background-image: url("../images/cover_galerias_2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.page-user .overlay_gallery_wrapper{
  background: rgba(255, 255, 255, 0.60) none repeat scroll 0 0;    
}

.nav_photos{
    text-align: center;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    /*background-image: url('../images/paisaje.jpg');
    background-position: center;*/
    padding: 2px 40px;
    display: inline-block;
    width: 100%;
}

#GeneralContent{
    padding: 0;
}

body #space{
    padding: 35px 0 !important;
}

#logo{
    margin: 0 auto;
    width: 300px;
}

#user-login label, #user-pass label{
    display: none;
}

#user-login .form-text, #user-pass .form-text, #user-profile-form .form-text{
    width: 100%;
    border: none;
    border-bottom: 1px solid #222222;
    color: #222222;
    text-align: center;
}

.overlay_gallery_wrapper{
    background-color: #fff;
    padding: 10px;
    margin: 20% 0;

}

.acceso_denegado{
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    z-index: 10;
    margin: 20%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.overlay_gallery_border{
    border: solid 1px;
    border-color: #222222;
    padding: 10px;
}

#user-login .description{
    display: none;
}

#user-login .form-submit, #user-pass .form-submit, #user-profile-form .form-submit{
    background-color: #959595;
    border-color: #959595;
    color: #fff;
}

#user-login .form-actions{
    text-align: center;
}

.icon_user{
    padding: 20%;
    background-image: url("../images/user.png");
    background-size: 30%; 
    background-repeat: no-repeat;
    background-position: center;
}

#footer{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.view-id-galerias .views-row, .view-galeria-cliente .views-row,
.view-id-galeria_fotos_todas .views-row{
    padding: 0;
    position: relative;
}

#page_caption {
    background-color: #ffffff;
    padding: 30px 0;
    
}


#page_caption.single_gallery {
    border: 0 none;
    margin-bottom: 0;
}


#page_caption .page_title_wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
}


#page_caption hr.title_break {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50px;
    border-color: #222222;
}

.page_tagline {
    display: inline-block;
    float: none;
    font-style: italic;
    margin: 5px auto auto;
    max-width: 50%;
    width: auto;
    font-weight: 400;
}

.row{
    margin: 0;
}

@media only screen and (max-width : 400px) {
    .nav_photos{
        padding: 5px 0
        
    }

    .menu_ul {
        right: 5px !important;
    }
} 

@media only screen and (max-width : 992px) { 
    .acceso_denegado{
        margin: 50% 20%;
    }
    .user_menu{
        margin-right: 0 !important;
        margin-top: 10px !important;
        width: 30px;
        margin-bottom: 18px;
        float: right;
    }

    #logo{
        width: 250px;
    }

    .menu_ul {
        display: none;
        padding: 8px !important;
        position: absolute;
        right: 40px;
        top: 40px;
        text-align: left !important;
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    }

    .menu_ul a {
        color: #fff;
        margin: 0 !important;
    }

    .menu_ul li {
        display: block !important;
    }

    .menu_f:hover .menu_ul{
        display:block;
    }

    .logout_content {
        display: block !important;
    }

    .nav_photos{
        height: 63px;
        position:relative;
    }

    body #space{
        padding: 0 !important;
    }
    
    .overlay_gallery_wrapper, #content-contact-form{
        margin: 15% 0 30% 0 !important;
    }
}

.gallery_archive_desc{
    display: block;
    bottom: 0;
    color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}

.view-id-galerias .views-row:hover .gallery_archive_desc{
    display: block;
}

.linkDownload, .linkDownload:hover{
    color: #fff;
    float: right;
}

.fancybox-skin{
    padding: 25px 15px !important;
}

.leyend_cover {
    bottom: 0;
    //position: absolute;
    width: 100%;
    color: #fff;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    margin-top: 3em;

}

.title_leyend {
    display: inline-block;
    font-size: 2.5em;
    margin-right: 15px;
}

.description_leyend {
    display: inline-block;
    font-style: italic;
}

body.page-galerias- #space, 
body.page-galerias-todas #space,
body.page-galerias-favoritos #space{
    padding: 0;
}

/*.image_cover{
    height: 60vh;
    position: relative;
}

body.page-galerias- .view-header, 
body.page-galerias-todas .view-header,
body.page-galerias-favoritos .view-header,
body.page-nube-tags .view-header,
body.page-fotos-tags- .view-header,
body.page-galerias .view-header{
    padding: 0;
    background-image: url("../images/cover_galerias_2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
}*/

body.page-galerias- .view-galeria-cliente .view-content, 
body.page-galerias-todas .view-galeria-fotos-todas .view-content,
body.page-galerias-favoritos .view-favoritos .view-content{
    padding: 0 !important;
}

.logout_content {
    display: none
}

.menu_ul {
    list-style: none;
    float: right;
    text-align: right;
    color: #fff;
    padding: 24px 0 0 15px;
}

.menu_ul li {
    display: inline;
}

.nav_photos a{
    float: left;
}

.menu_ul a {
    color: #fff;
    margin: 0 10px;
}

.menu_f:hover .menu_ul{
    display:block;
}

.user_name{
    font-style: italic;
}

.menu_f a, .menu_f li{
    font-weight: bold;
}

.fancybox-overlay{
    background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-skin{
    background: none;
}

.breadcrumb{
    margin: 0;
}

.requestfullscreen, .requestfullscreen:hover{
    color: #fff;
    cursor: pointer;
}

.favoritos{
    position: absolute;
}


.content-link-favorite{
    position: absolute;
    right: 5px;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 2px;
    background-color: #959595;
    border-color: #959595;
    color: #fff;
}

#edit-title-wrapper{
    padding-left: 15px;
}

.favorito_icono_clic{
    background-image: url("../images/corazonBlanco.png");
}

.favorito_icono_noclic{
    background-image: url("../images/corazonRojo.png");
}

.favorito_icono{
    background-size: cover;
    display: block;
    height: 20px;
    width: 20px;
    margin: 15px; 
}

.cloud {
    display: inline;
    list-style-type: none;
    width: 400px;
}
.cloud li {
    list-style: none;
    display: inline;
}

/*.cloud li:nth-of-type(2n + 1) {
    font-size: 2.30em;
}
.cloud li:nth-of-type(3n + 1) {
    font-size: 3.5em;   
}
.cloud li:nth-of-type(4n + 3) {
    font-size: 2.50em;   
}
.cloud li:nth-of-type(5n - 3) {
    font-size: 1.75em;
}*/

ul.cloud li{
    display: inline-block;
    margin: 0;
    font-size: 2.8em;
}

.cloud-tags {
    text-align: center;
    padding: 30px 0;
}

.fullscreen img {
    padding: 3px;
}

@media screen and (max-width: 480px){
    .views-row.col-lg-4{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        width: 100%;
    }

}
@media screen and (min-width: 481px) and (max-width:768px) {
    .views-row.col-lg-4{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        width: 50%; 
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .views-row.col-lg-4{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        width: 33%;
    }
    .view-id-galerias .view-content,
    .view-id-galeria_cliente .view-content,
    .view-id-galeria_fotos_todas .view-content,
    .view-id-favoritos .view-content,
    .div_boton_tags{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px){
    .views-row.col-lg-4{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        width: 25%;
    }
    .view-id-galerias .view-content,
    .view-id-galeria_cliente .view-content,
    .view-id-galeria_fotos_todas .view-content,
    .view-id-favoritos .view-content,
    .div_boton_tags{
        width: 87%;
        margin: 0 auto;
    }
}

.view-id-galerias .views-row img, .view-galeria-cliente .views-row img,
.view-id-galeria_fotos_todas .views-row img, .view-id-favoritos .views-row img,
.view-id-fotos_tags .views-row img{
    height: auto;
    max-width: 100%;
}

.botton_filtro {
    display: block;
    width: 180px;
    height: 25px;
    background: #4E9CAF;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.page-galerias .view-header p {
    padding: 5px;
    background-color: #fff;
    margin: 2px;
}

/* Contacto */

.page-node-33{
    background-attachment: fixed;
    background-image: url("../images/cover_galerias_2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#node-33 .submitted{
    display: none;
}

#form-contacto{
    padding: 10px;
    border: 1px solid #222222;
}

#content-contact-form{
    background: #fff;
    padding: 10px;
    margin: 20% 0;
}

#form-contacto .form-text, #form-contacto .form-textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #222222;
    color: #222222;
}

#form-contacto .form-textarea{
    resize: none;
}

#form-contacto .form-submit{
    background-color: #959595;
    border-color: #959595;
    color: #fff;
}

#form-contacto h3{
    text-align: center;
}

/*cambio de contraseña*/

.confirm-parent, .password-parent {
    width: 100%;
}

div.form-item div.password-suggestions{
    width: 100%
}

div.password-confirm{
    margin-top: 0.5em;
}

.password-strength{
    margin-bottom: 1.4em;
}

.password-strength{
    float: none;
}

.aboton {
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.div_boton_tags{
    background: #fff none repeat scroll 0 0;
    padding: 20px 0;
}

.no-padding{
    padding: 0;
}

.no-padding .overlay_gallery_wrapper{
    margin: 0;
}